@font-face {
  font-weight: 400;
  font-family: Questrial;
  src: url(../assets/fonts/Questrial/Questrial-Regular.woff2) format("woff2");
}

body {
  font-family: Questrial;
}
.title {
  font-size: 24px;
  margin: 14px 0;
  text-transform: uppercase;
}
.btn-black {
  background-color: #000;
  border: 0;
  color: #f6f5e8;
  padding: 20px 0;
  font-size: 18px;
}
.btn-black:disabled {
  background-color: #333;
}
