.catalog-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.aside > .category-container > .category-list > .category-list_item:first-child {
  padding-top: 14px;
}

.aside-nav {
}

.aside-nav_list {
}

.catalog-main {
  display: flex;
  flex-direction: column;
  width: 75%;
}
