.catalog-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.aside {
  position: fixed;
  width: 290px;
  display: flex;
  flex-direction: column;
}

.aside > .category-container > .category-list > .category-list_item:first-child {
  padding-top: 14px;
}

.aside-nav {
}

.aside-nav_list {
}

.catalog-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hidden {
  display: none;
}
